.App {
  text-align: center;

  .App-logo {
    height: 30vmin;
    pointer-events: none;
  }

  & canvas {
    transition: box-shadow 1s;
    &:hover {
      -webkit-box-shadow: 0px 0px 147px -26px #2d333b;
      -moz-box-shadow: 0px 0px 147px -26px #2d333b;
      box-shadow: 0px 0px 147px -26px #2d333b;
    }
  }

  & .start-button {
    color: #63a6ac;
    border-color: #556e77;
    margin: 5px;
    width: 50px;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
}